<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Parcel Shipping</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Epicodus Shipping Service</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
